In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as np
%matplotlib inline

In [31]:
df = pd.DataFrame({'a':[1,2],'b':[3,4],'c':[5,6]})
df

   a  b  c
0  1  3  5
1  2  4  6

In [4]:
df.a+df.b

pandas.core.series.Series

In [69]:
class Interactive:
    
    def __init__(self,features,data): # features list for interactive, data is df
        self.features = features
        self.data = data

        
    def show(self):
         print('Interactive Features : {}\n Length of data: {}'.format(self.features,len(self.data)))
               
    def addition(self):
        initial_feature = self.features[0]
        sum_feature = self.data[initial_feature].copy()
        for feature in self.features[1:]:
            sum_feature += self.data[feature]
        return sum_feature.rename('add_{}'.format(self.features)) #return is pd.series
               
    def subtraction(self):
        minuend = self.features[0]
        difference = self.data[minuend].copy()
        for feature in self.features[1:]:
            difference -= self.data[feature]
        return difference.rename('sub_{}'.format(self.features)) #return is pd.series        
    
    def product(self):
        number = self.features[0]
        product = self.data[number].copy()
        for feature in self.features[1:]:
            product *= self.data[feature]
        return product.rename('product_{}'.format(self.features)) #return is pd.series after multiplication
               
    def division (self):
        nominator = self.features[0]
        division = self.data[nominator].copy()
        for feature in self.features[1:]:
            division /= self.data[feature]
        return division.rename('divd_{}'.format(self.features)) #return is pd.series after division

In [73]:
pd_1=Interactive(['a','b'],df).addition()

In [74]:
df

   a  b  c
0  1  3  5
1  2  4  6

In [75]:
pd.concat([pd_1,df[['a','b']]],axis=1)

   add_['a', 'b']  a  b
0               4  1  3
1               6  2  4

In [42]:
df

   a  b  c
0  1  3  5
1  2  4  6

In [52]:
pd_1

0    4
1    6
Name: a, dtype: int64