In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("zbp_estab_2012_2016.csv")
df.head()

   zipcode  ESTAB_2012  ESTAB_2013  ESTAB_2014  ESTAB_2015  ESTAB_2016
0     1001          35          36          36          37          33
1     1002          63          57          63          59          58
2     1004           1           3           1           1           2
3     1005           8          10           9          10          10
4     1007          15          17          17          18          18

In [3]:
df = df.rename(columns={"ESTAB_2012": "Restaurant_Count_2012", \
                   "ESTAB_2013": "Restaurant_Count_2013", \
                   "ESTAB_2014": "Restaurant_Count_2014", \
                   "ESTAB_2015": "Restaurant_Count_2015", \
                   "ESTAB_2016": "Restaurant_Count_2016"})

In [4]:
df.head()

,zipcode,Restaurant_Count_2012,Restaurant_Count_2013,Restaurant_Count_2014,Restaurant_Count_2015,Restaurant_Count_2016
0,1001,35,36,36,37,33
1,1002,63,57,63,59,58
2,1004,1,3,1,1,2
3,1005,8,10,9,10,10
4,1007,15,17,17,18,18

In [5]:
df.shape

(22835, 6)

In [6]:
df['zipcode']=df['zipcode'].apply(lambda x: '{0:0>5}'.format(x))
df.head()

,zipcode,Restaurant_Count_2012,Restaurant_Count_2013,Restaurant_Count_2014,Restaurant_Count_2015,Restaurant_Count_2016
0,01001,35,36,36,37,33
1,01002,63,57,63,59,58
2,01004,1,3,1,1,2
3,01005,8,10,9,10,10
4,01007,15,17,17,18,18

In [7]:
df.to_csv("cleaned_zbp_estab_2012_2016.csv")
restaurant_count_file = "cleaned_zbp_estab_2012_2016.csv"

In [8]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [9]:


engine = create_engine("sqlite:///restaurants.sqlite")

In [10]:
# Create a connection to the engine called `conn`

conn = engine.connect()

In [11]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column

Base = declarative_base()

class RestaurantCount(Base):
    __tablename__ = 'restaurant_count'

    zipcode = Column(Text, primary_key=True)
    Restaurant_Count_2012 = Column(Integer)
    Restaurant_Count_2013 = Column(Integer)
    Restaurant_Count_2014 = Column(Integer)
    Restaurant_Count_2015 = Column(Integer)
    Restaurant_Count_2016 = Column(Integer)

    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [12]:
# Use `create_all` to create the demographics table in the database
Base.metadata.create_all(engine)

In [13]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [14]:
table = sqlalchemy.Table('restaurant_count', metadata, autoload=True)

In [15]:
# Use `table.delete()` to remove any existing data.
conn.execute(table.delete())

In [16]:
df.to_sql("restaurant_count", con=engine, if_exists='replace')

In [17]:
conn.execute("Select * from restaurant_count limit 10").fetchall()

[(0, '01001', 35, 36, 36, 37, 33),
 (1, '01002', 63, 57, 63, 59, 58),
 (2, '01004', 1, 3, 1, 1, 2),
 (3, '01005', 8, 10, 9, 10, 10),
 (4, '01007', 15, 17, 17, 18, 18),
 (5, '01008', 5, 4, 4, 4, 5),
 (6, '01009', 1, 1, 1, 1, 1),
 (7, '01010', 5, 5, 5, 4, 4),
 (8, '01013', 28, 31, 29, 26, 29),
 (9, '01020', 57, 58, 58, 59, 59)]